@charset "utf-8";
/* CSS Document */
.topnav {
	background: #094561;
	border-bottom: 1px solid #04323d;
}
.navbar-innerBhu {
	border-bottom: 3px solid #1EBCE3;
	background: #FFF;
}
.breadcrumb.breadcrumb-mainEx {
	/*background:#1ebce3;
	box-shadow: 0 1px 1px 2px rgba(177, 177, 177, 0.5);*/
}
.my-breadcrumb {
    border-radius:0 0 4px 4px;
	background:#1ebce3;
	padding:4px 0;
}
.tab-bg	{
	background-color: hsl(75, 82%, 77%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9cc424", endColorstr="#5b840b");
	background-image: -moz-linear-gradient(top, #9cc424, #5b840b);
	background-image: -ms-linear-gradient(top, #9cc424, #5b840b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9cc424), color-stop(100%, #5b840b));
	background-image: -webkit-linear-gradient(top, #9cc424, #5b840b);
	background-image: -o-linear-gradient(top, #9cc424, #5b840b);
	background-image: linear-gradient(#9cc424, #5b840b);
}
.btn-primary {
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color:#fff;
	background-color:#3276b1;
	border-color:#285e8e
}
a.btnGreenAc {
	color: #ffffff;
	background-color: #9cc424;
	box-shadow:0px 3px 0px #5b840b;
}
a.btnGreenAc:hover {
	color: #e9f0d4;
}
.btn-info {
	color:#fff;
	background-color:#5bc0de;
	border-color:#46b8da
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color:#fff;
	background-color:#39b3d7;
	border-color:#269abc
}
.btn-warning {
	color:#fff;
	background-color:#f0ad4e;
	border-color:#eea236
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	color:#fff;
	background-color:#ed9c28;
	border-color:#d58512
}
.btn-danger {
	color:#fff;
	background-color:#d9534f;
	border-color:#d43f3a
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	color:#fff;
	background-color:#d2322d;
	border-color:#ac2925
}
.btn-n {
	color: #fdfdfd;
	background-color: #87c468;
	border-color: hsl(100, 44%, 44%);
}


.btn-boxed li {
	background: #c0cacc;
	border-top: 2px solid #1ebce3;
	border-bottom: 2px solid #dedede;
}
.btn-boxed a {
	background:#FFF;
}
.btn-circle a:hover, 
.btn-circle .active a, 
.btn-circle .active a:hover, 
.btn-rounded a:hover, 
.btn-rounded .active a, 
.btn-rounded .active a:hover, 
.btn-boxed a:hover, 
.btn-boxed .active a, 
.btn-boxed .active a:hover, 
.nav-tabs.btn-circle > li > a:hover, 
.nav-tabs.btn-circle > .active > a, 
.nav-tabs.btn-circle > .active > a:hover {
	color: #548ec0;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bbe9f4));
	background-image: -webkit-linear-gradient(top, #ffffff, #bbe9f4);
	background-image: -moz-linear-gradient(top, #ffffff, #bbe9f4);
	background-image: -ms-linear-gradient(top, #ffffff, #bbe9f4);
	background-image: -o-linear-gradient(top, #ffffff, #bbe9f4);
}
.table th, .fixed-table th {
  font-weight: normal;
  color:#FFF;
background-color: hsl(14%, 83%, 115%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f5576", endColorstr="#0a425c");
	background-image: -moz-linear-gradient(top, #0f5576, #0a425c);
	background-image: -ms-linear-gradient(top, #0f5576, #0a425c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f5576), color-stop(100%, #0a425c));
	background-image: -webkit-linear-gradient(top, #0f5576, #0a425c);
	background-image: -o-linear-gradient(top, #0f5576, #0a425c);
	background-image: linear-gradient(#0f5576, #0a425c);
}

#sidebar.nav-pills > li > a, 
.widget .nav-pills.nav-stacked > li > a {
	background: #1ebce3;
	background: -moz-linear-gradient(top, #1ebce3 0%, #12a3c7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #1ebce3 0%,#12a3c7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #1ebce3 0%,#12a3c7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ebce3', endColorstr='#12a3c7',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	/*text-shadow: 0 1px 0 #bccacd;*/
	border-top: 1px solid #19a9cd;
	border-bottom: 1px solid #0D5263;
}

#sidebar.nav-pills > li > a:hover, 
.widget .nav-pills.nav-stacked > li > a:hover {
	color:#000;
	text-shadow: none;
	background:#f0ad4e ;

}
#sidebar.nav-pills > li.avatar > a {
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top-color: #fcb6b4;
	border-bottom-color: #802420;
	height:110px;
}
.navbar-inverse {
	background-color:#0b3843;
	border-color:#080808
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color:#eee
}
.modal-header {
	color: #FFF;
	border-bottom: 1px solid #114d64;
	background:#31a2cd;
	border-radius:6px 6px 0 0;
	padding:9px 15px 3px 15px;
	background-color: #000000;
	background-image: -moz-linear-gradient(top, #31a2cd, #2381a4);
	background-image: -ms-linear-gradient(top, #31a2cd, #2381a4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#31a2cd), to(#2381a4));
	background-image: -webkit-linear-gradient(top, #31a2cd, #2381a4);
	background-image: -o-linear-gradient(top, #31a2cd, #2381a4);
	background-image: linear-gradient(top, #31a2cd, #2381a4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31a2cd', endColorstr='#2381a4', GradientType=0);
}


.footer {
	color:#FFF;
	background-color: #2898c2;
	background-image: linear-gradient(to bottom, #2898c2, #094662);
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color:#1ebce3;
}
.navbar-toggle {
	background-color:#000;
}
.loader_email {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    float: right;
    height: auto;
    position: absolute;
    right: 13px;
    top: 1px;
    width: auto;
    z-index: 50;
}
.subSess {
    background: #1ebce3 none repeat scroll 0 0;
    color: #fff;
    font-family: "Fjalla One",sans-serif;
    font-size: 22px;
    font-weight: bold;
    height: 72px;
    padding: 20px 51px 0;
}
.lfi {
    background-color: green;
    color: white;
    margin-right: -14px;
    margin-top: -10px;
    padding: 8px;
}
.lfi2 {
    background-color: red;
    color: white;
    margin-right: -14px;
    margin-top: -10px;
    padding: 8px;
}